input#meta_divisionLabel.form-control(type="text", placeholder="Division")
.input-group(style="margin-top: 4px")
   input#meta_roundPrefixLabel.form-control(type="text", placeholder="Round Number Prefix")
   .input-group-addon#meta_roundLabel 0
.btn-group.btn-group-justified(style="margin-top: 8px")
   .btn-group
      button#meta_show.btn.btn-xs.btn-success(type="button") Show
   .btn-group.btn-group-justified(style="padding: 0 2px")
      .btn-group
         button#meta_hide.btn.btn-xs.btn-danger(type="button") Hide
   .btn-group.btn-group-justified
      .btn-group
         button#meta_loop.btn.btn-xs.btn-info(type="button") Loop
.btn-group.btn-group-justified(style="margin-top: 4px")
   .btn-group
      button#meta_update.btn.btn-xs.btn-primary(type="button") Update

