<html>
<head>
    <link href="/view/ozf-summer-cup-meta/css/meta.css" rel="stylesheet"/>
    <script src="/view/ozf-summer-cup-meta/js/jquery-1.11.1.min.js"></script>
    <script src="/view/ozf-summer-cup-meta/js/meta.js"></script>

    <!-- NodeCG API setup script. MUST BE THE LAST <script> TAG ON THE PAGE! -->
    <script src="/viewsetup.js"></script>
</head>
<body>
<div id="container">
    <div id="meta_left">
        <div style="position: relative;">
            <p id="meta_leftText" class="text-format" style="right: 10px;">UNDEFINED</p>
            <img src="img/left_wing.png" />
        </div>
    </div>
    <div id="meta_right">
        <div style="position: relative;">
            <p id="meta_rightText" class="text-format" style="left: 10px;">UNDEFINED</p>
            <img src="img/right_wing.png" />
        </div>
    </div>
</div>

</body>
</html>